// Based off of the original mode/tiddlywiki/tiddlywiki.css.

span {
  &.cm-underlined {
    text-decoration: underline;
  }

  &.cm-strikethrough {
    text-decoration: line-through;
  }

  &.cm-brace {
    color: #170;
    font-weight: bold;
  }

  &.cm-table {
    color: blue;
    font-weight: bold;
  }
}
