#passageCredits {
  margin: auto;
  text-align: center;
  width: 50%;

  ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      white-space: unset;
    }
  }

  .flex {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;

    > * {
      min-width: 400px;
      margin: 0.5em;
    }
  }

  dd,
  p,
  ul {
    color: #aaa;
  }
}

.columns-2 {
  column-count: 2;
}

.columns-3 {
  column-count: 3;
}
