#passageDedication {
  div.center-block {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quote {
    display: block;
    margin: auto;

    .quote-text {
      font-style: italic;
      font-family: $font-quote, serif;
      //text-align: left;
      font-size: 18px;
    }

    .quote-author {
      display: block;
      text-align: right;
    }
  }
  .glow.glow-cyan {
    text-shadow: 0px 0px 3px cyan;
  }

  .futuristic {
    font-family: $font-console, monospace;
    text-shadow: 0px 0px 3px cyan;
  }
}
