div.federal-form {
  width: 11in;
  background: white;
  color: black;
  font-family: sans-serif;
  padding: 3px;

  section {
    display: flex;

    > div {
      border: 1px solid black;
      padding: 3px;
      margin-top: -1px;
      margin-left: -1px;

      input {
        &[type="text"],
        &[type="checkbox"] {
          border: 1px dashed #ccc;
          border-bottom: 1px solid black;
          background: transparent;
        }
      }

      label {
        font-weight: bold;

        &.block {
          display: block;
          text-align: center;
        }
      }

      &.adot-use-only {
        background: repeating-linear-gradient(45deg, #9c9 0px, #9c9 1px, transparent 1px, transparent 3px), repeating-linear-gradient(-45deg, #9c9 0px, #9c9 1px, transparent 1px, transparent 3px);
      }
    }
  }
}

.playergen-column {
  width: 50%;
  margin: 0;
}

.playergen-header {
  border-bottom: 1px solid #666;
}

.playergen-frame {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;

  .playergen-header {
    width: 75%;
    align-self: middle;
  }

  h1 {
    text-align: center;
    font-variant-caps: all-small-caps;
    font-size: xx-large;
    letter-spacing: 0.5em;
  }
}

.playergen-buttons {
  display: flex;
  flex: row center middle;
  border-top: 1px solid #666;
  width: 75%;
  align-items: center;
  justify-content: center;
  margin: auto;

  button,
  unframe {
    padding: 5px !important;
    height: 42px;
    margin: 1em;
    padding: 0 1em !important;
  }

  span.quickplay button,
  span.quickplay unframe {
    font-size: large;
    margin: 1em;
  }
}
