a.biosex-preset,
a.pronoun-preset {
  margin: 3px 0;
  display: inline-block;

  svg {
    circle#outercircle {
      stroke: #333;
      transition: 0.2s;
    }

    path {
      stroke: #333;
      fill: #333;
      transition: 0.2s;
    }
  }

  &:HOVER {
    svg {
      circle#outercircle {
        stroke: #aaa !important;
        transition: 0.2s;
      }

      path {
        stroke: #aaa;
        fill: #aaa;
        transition: 0.2s;
      }
    }
  }

  &.selected {
    svg {
      circle#outercircle {
        stroke: #fff !important;
        transition: 0.2s;
      }

      path {
        stroke: #fff;
        fill: #fff;
        transition: 0.2s;
      }
    }
  }
}
