:root {
  --eb-logo-stroke: #333;
  --eb-logo-fill: #666;
}

#passageStart {
  svg {
    /* We want this to show always
    #ebLogoCrossguard {
      opacity: 0;
      animation: fadein ease-in 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
    */

    #ebLogoBlade,
    #ebLogoGrip {
      opacity: 0;
      animation: fadein ease-in 2s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }

    #ebTitleText {
      opacity: 0;
      animation: fadein ease-in 2s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
    }
  }

  h1 {
    //letter-spacing: 0.75em;
    //font-variant-caps: small-caps;
    font-family: 'Magnolia';
    font-size: 40pt;
    font-weight: normal;
  }

  .legal {
    font-size: xx-small;
    color: #333;
  }

  .options a {
    --fore-color: #fff;
    --bg-color-a: #000;
    --bg-color-b: #000;
    padding: 0.175em;
    display: block;
    width: 100%;
    text-align: center;
    font-size: large;
    font-family: 'Marcellus';
    color: var(--fore-color);
    text-shadow: 1px 1px 0px var(--bg-color-a);
    /*border: 1px solid var(--bg-color-a);*/
    /*box-shadow: inset 0 0 12px var(--bg-color-b);*/
    transition: 0.5s;
    border-radius: 3px;

    &:hover {
      --fore-color: #fff;
      --bg-color-a: #fff;
      --bg-color-b: #fff;
      text-shadow: 1px 1px 3px var(--bg-color-a);
      transition: 0.5s;
    }

    &.brokenLink {
      background: transparent;
      --fore-color: #c66;
      --bg-color-a: #322;
      --bg-color-b: #322;
      transition: 0.5s;

      &:hover {
        background: #f00;
        --fore-color: #fcc;
        --bg-color-a: #c66;
        --bg-color-b: #c66;
        transition: 0.5s;
      }
    }
  }
}
