//urls
//$url_0: url(../svg/symbol/symbol-neutral.svg);

ul.choices {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	li {
		--fg-color: #fff;
		--top-color: #303030;
		--bottom-color: #222;
		--box-color: var(--top-color);
		--box-shadow-color: var(--box-color);
		border: 1px solid var(--box-color);
		border-radius: 12px;
		padding: 0.5em;
		margin: 0.25em;
		min-width: 200px;
		display: flex;
		align-items: center;
		justify-content: left;
		background: linear-gradient(to bottom, var(--top-color) 0%, var(--bottom-color) 100%);
		transition: 0.2s;

		&:HOVER {
			--box-color: var(--fg-color);
			box-shadow: 0 0 5px var(--box-color);
			transition: 0.2s;
		}

		a {
			color: var(--fg-color);
		}

		span.badges {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			svg {
				display: block;
				//border: 1px solid blue;
				height: 25px;
				width: 25px;
				padding: 0;
				//margin: -1px; /* hax */
			}

			span {
				&.badge {
					display: block;
					width: 25px;
					height: 25px;
					padding: 0;
					margin: 0;
				}

				&.recommended {
					display: none;
				}
			}
		}

		&.neutral {
			--fg-color: #fff;

			&:HOVER {
				--box-color: #fff;
			}
		}

		&.nice {
			--fg-color: #fff;
			--top-color: #005500;
			--bottom-color: #003300;

			&:HOVER {
				--box-color: #00ff00;
			}
		}

		&.evil {
			--fg-color: #fff;
			--top-color: #550000;
			--bottom-color: #330000;

			&:HOVER {
				--box-color: #ff0000;
			}
		}

		&.nsfw {
			--box-color: #553333;

			&:HOVER {
				--box-color: #ffcccc;
			}
		}

		&.recommended {
			animation: recommended-pulse 1s alternate infinite;
		}
	}
}
@keyframes recommended-pulse {
	0% {
		border: 1px solid #fff;
	}

	100% {
		border: 1px solid #999;
	}
}
