
div.statbar {
    border: 1px solid #111111;
    box-shadow: inset 0 0 5px #111111;
    padding: 3px;
    font-weight: bold;
    display: block;
    margin: 2px;
    border-radius: 3px;
    text-align: left;
    color: white;
    clear: both;
    height: 16px;

    .label {
        float: left;
        text-shadow: 0px 0px 2px #000;
    }

    .value {
        float: right;
        text-shadow: 0px 0px 2px #000;
    }

    .bar {
        height: 21px;
        display: block;
        border-radius: 3px;
        margin: -3px;
    }

    &.alert {
        animation: alert-animation 0.5s alternate infinite;
        -webkit-animation: alert-animation 0.5s alternate infinite;
    }

    &.compact {
      height: 3px;
      margin: 0;
      padding: 1px;

      .label,
      .value {
        display: none;
      }

      .bar {
        height: 3px;
        margin: 0;
      }
    }
}
@keyframes alert-animation {
    to {
        box-shadow: red 0 0 5px inset;
        border: 1px solid #ff0000;
    }
}
@-webkit-keyframes alert-animation {
    to {
        box-shadow: red 0 0 5px inset;
        border: 1px solid #ff0000;
    }
}

#statbar_hp span.bar {
    background: linear-gradient(to bottom, #990000 10%, #550000);
}

#statbar_ap span.bar {
    background: linear-gradient(to bottom, #006699 10%, #001133);
}

#statbar_sp span.bar {
    background: linear-gradient(to bottom, #009900 10%, #003300);
}

#statbar_lust span.bar {
    background: linear-gradient(to bottom, #FF8484 10%, #B25C5C);
}

#statbar_fatigue span.bar {
    background: linear-gradient(to bottom, #BC70FF 10%, #8300FF);
}

#statbar_hunger span.bar {
    background: linear-gradient(to bottom, #FF6A00 10%, #963C00);
}

#statbar_full span.bar {
    background: linear-gradient(to bottom, #A05D00 10%, #663900);
}
