@include font-face(Didot,          'fonts/gfs-didot/gfs-didot',                       null, null, eot woff svg);
@include font-face(Magnolia,       'fonts/magnolia/magnolia',                         null, null, eot woff svg);
@include font-face(Marcellus,      'fonts/marcellus/marcellus',                       null, null, eot woff svg);
@include font-face(Pokoljaro,      'fonts/pokoljaro/pokoljaro',                       null, null, eot woff svg);
@include font-face(Glitch,         'fonts/a-glitch-in-time/a-glitch-in-time',         null, null, eot woff svg);
@include font-face(BebasNeue,      'fonts/bebas-neue/bebas-neue',                     null, null, eot woff svg);

@include font-face(SourceSerifPro, 'fonts/source-serif-pro/source-serif-pro-Regular', null, null, eot woff woff2);
@include font-face(SourceCodePro,  'fonts/source-code-pro/source-code-pro-Regular',   null, null, eot woff woff2);

//$font-default: SourceSerifPro;
$font-default: Marcellus;
$font-serif:   Marcellus;
$font-vellum:  Pokoljaro;
$font-sans-serif: sans-serif;
$font-quote:   Didot;
$font-console: SourceCodePro;
$font-headers: BebasNeue;

.serif {
  font-family: $font-serif;
}
.sans-serif {
  font-family: $font-sans-serif;
}
// Used for writings on Eden.
.vellum {
  font-family: $font-vellum;
  font-size: 12pt;
}

// Headers, mostly.
.neue {
  font-family: BebasNeue;
}
