
body[data-tags~="nosidebar"] #sidebar {
  display: none !important;
  #passages {
    margin-left: 0 !important;
  }
}

body[data-tags~="widebody"] {
  #passages, .passage {
    width: 100%;
    left: 0px;
  }
  #passages {
    margin-left: 0 !important;
  }
}

body[data-tags~="noheader"] #header {
  display: none !important;
}
