@import 'mixins/font_decl';
@import 'mixins/glitch';
@import 'fonts';
html {
	background-color: #111;
	color: #fff;
	font-family: $font-default;
	font-size: small;
}
@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@import 'tags';
@import 'controls';
@import 'choices';
@import 'passages/Start';
@import 'passages/Dedication';
@import 'passages/NewGame1';
@import 'passages/NewGame2';
@import 'passages/Credits';

@import 'codemirror/modes/tiddlywiki';

h1,
h2,
h3 {
	font-family: BebasNeue;
	font-weight: normal;
}

h2#subjectLocation,
h3#subjectRegion {
	color: #999;
}

button,
h1 a.button {
	--background-top: #333;
	--background-bottom: #111;
	background: #000 linear-gradient(to bottom, var(--background-top) 0%, var(--background-bottom) 100%);
	color: #999;
	border: 1px solid #333;
	padding: 3px 6px;
	border-radius: 0.25em;
	transition-duration: 1s;
	margin: 1px;

	&:disabled {
		--background-top: #111;
		--background-button: #111;
		border-color: #333;
		color: #333;

		&:HOVER {
			border-color: #333;
			color: #333;
		}
	}

	&:HOVER {
		border-color: #fff;
		color: #fff;
		transition-duration: 1s;
	}
}

fieldset {
	border: 1px solid #666;
}

#passages {
	border-left: none;
	margin-left: 18.2em;
	margin-right: 18.2em;
}

input[type="text"] {
	--inactive: #222;
	--foreground: #ccc;
	color: var(--foreground);
	border: 1px dashed var(--inactive);
	border-bottom: 1px solid var(--foreground);
	background: #000000cc;
	padding: 3px;
	margin: 1px;

	&:HOVER {
		--foreground: #fff;
		--inactive: #666;
	}

	&:disabled {
		--foreground: #666;
		--inactive: #333;
		background: repeating-linear-gradient(45deg, transparent 0px, transparent 5px, var(--inactive) 5px, var(--inactive) 6px), repeating-linear-gradient(-45deg, transparent 0px, transparent 5px, var(--inactive) 5px, var(--inactive) 6px);
	}

	&.required::after {
		content: "REQUIRED";
		border: 1px solid #c00;
		color: #c00;
		border-radius: 2px;
		padding: 1px;
		font-size: 6pt;
	}

	&.invalid {
		box-shadow: inset 0 0 6px #f00;
		border-color: red;
		color: red;
		animation: invalid-pulse infinite 1s;
	}
}

.invalid-msg {
	border: 1px solid #c00;
	color: #c00;
	border-radius: 2px;
	padding: 1px;
	font-size: 6pt;
}
@keyframes invalid-pulse {
	0% {
		box-shadow: inset 0 0 3px #f00;
	}

	50% {
		box-shadow: inset 0 0 6px #f00;
	}

	100% {
		box-shadow: inset 0 0 3px #f00;
	}
}

.center-block {
	margin: auto;
}

.center-text {
	text-align: center;
}

.playergen-column {
	width: 50%;
	margin: 0;
}

.playergen-header {
	border-bottom: 1px solid #666;
}

.playergen-frame {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: top;
	justify-content: center;
}

.playergen-frame {
	.playergen-header {
		width: 75%;
		align-self: middle;
	}

	.playergen-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 75%;
	}
}

h1 {
	text-align: center;
	font-variant-caps: all-small-caps;
	font-size: xx-large;
	letter-spacing: 0.5em;
}

h1#main-title {
	font-variant-caps: unset;
	letter-spacing: unset;
}

.descramble {
	span.descrambled {
		text-shadow: 0 0 3px #0f0 !important;
		color: #0f0;
	}

	span.scrambled {
		text-shadow: 0 0 3px #f00 !important;
		color: red;
	}
}

.body > .form {
	width: 800px;
	margin: auto;
}

.form {
	.buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 0.5em;
	}

	> fieldset > div.formrow {
		padding: 0.5em;
		border-width: 1px;
		border-style: solid;
		border-top-color: #333;
		border-left-color: #333;
		border-bottom-color: #000;
		border-right-color: #000;

		> label {
			display: inline-block;
			width: 150px;
			text-align: right;
		}
	}

	> fieldset > div.checkrow {
		padding: 0.5em;
		border-width: 1px;
		border-style: solid;
		border-top-color: #333;
		border-left-color: #333;
		border-bottom-color: #000;
		border-right-color: #000;

		> label {
			display: inline-block;
			font-weight: bold;
			text-align: right;
		}
	}
}

div.warning {
	background: #FFA500;
	padding: 1em;
	border-radius: 0.5em;
	border: 1px solid black;
	text-align: center;
	color: black;
}

#storyMenu ul#body-parts {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;

	li {
		padding: 3px;
		background: transparent;
		margin: 1px;
		border-radius: 3px;
		border: 1px solid #333;
	}
}

.slider-box {
	width: 100%;

	div.labels {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
	}

	input[type="range"] {
		width: 100%;
		margin: auto;
	}

	span.readout {
		background: #333;
		padding: 3px;
		font-family: monospace;
	}
}

.as-block {
	display: block;
}

.center-text {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.italic {
	font-weight: bold;
}

a#bookmark {
	display: none;
}

#credits {
	font-family: sans-serif;
	font-size: xx-small;
	font-weight: lighter;
	opacity: 0.5;
	margin: 0.5em;

	a {
		color: orange;
	}
}

a#restart {
	border: 1px solid #a00;
	text-decoration: none;
	color: #a00;
	font-family: sans-serif;
	display: inline-block;
	margin: 0.5em;
	padding: 3px;
	border-radius: 3px;
}

.partymember-puck {
	background: #333;
	border: 1px outset 3px;
	padding: 3px;
	width: 150px;

	div.meta {
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid #222;
		display: flex;
		align-content: center;
		justify-content: center;
		height: 16px;
		line-height: 16px;

		svg {
			display: inline-block;
			width: 16px;
			height: 16px;
		}
	}

	span.name {
		margin-right: 0.5em;
		overflow-x: hidden;
	}

	sub {
		display: inline-block;
		width: 15%;
		text-align: right;
		color: #666;
	}
}

#header {
	border-bottom: 1px solid #666;

	#menu {
		display: flex;
		flex-direction: row;
		justify-content: center;

		a {
			color: #666;
			text-decoration: none;
			padding: 0.25em;

			&:HOVER {
				background: #222;
			}
		}
	}

	.flex {
		border-bottom: 1px solid #666;
	}

	#firstcol {
		display: flex;

		#subjectAvatar {
			padding-right: 0.5em;
			position: relative;

			#subjectAvatarPip {
				position: absolute;
				display: inline-block;
				height: 32px;
				width: 32px;
				line-height: 32px;
				font-size: 30px;
				justify-content: center;
				text-align: center;
				border-radius: 50%;
				background: red;
				font-family: BebasNeue;
				bottom: 5px;
				right: 5px;

				&.masculine {
				  background: #6666ff !important;
				}
				&.feminine {
				  background: #ff6666 !important;
				}
				&.neutral,
				&.sexless
				{
				  background: #999999 !important;
				}
			}
		}
	}

	#subjectData {
		h1 {
			font-family: BebasNeue;
			letter-spacing: unset;
			font-weight: normal;
			margin: 0;
			padding: 0;
			font-size: 36pt;
			text-align: left;
		}

		h2 {
			font-family: BebasNeue;
			letter-spacing: unset;
			font-weight: normal;
			font-size: 16pt;
			margin: 0;
			text-align: left;
		}

		h3 {
			font-family: BebasNeue;
			letter-spacing: unset;
			font-weight: normal;
			margin: 0;
			font-size: 16pt;
			text-align: left;
		}
	}

	div.flex {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#lastcol {
		display: flex;
		align-items: center;

		ul#wxDataColumn {
			list-style: none;
			text-align: right;
			margin-right: 0.5em;
		}

		#wxIcon {
			width: 128px;
			height: 128px;
			position: relative;
		}

		span.wxBase {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}

		span.wxOverlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: auto;
		}
	}
}

#subjectAvatarSVG div#glitchyicon {
	/*
	(SVG) PARAMS
	=================
	@mixin svgGlitch($name, $intensity, $fillColor, $background, $width, $height, $top, $left)
	=================
	1. Namespace
	2. Intensity
	3. Fill Color
	4. Background
	5. Width (px)
	6. Height (px)
	5. Top (px, abs pos)
	6. Left (px, abs pos)
	*/
	@include svgGlitch('avatar-error', 30, white, transparent, red, blue, 128, 128, 0, 0);
}
